<a href="https://colab.research.google.com/github/CodeHunterOfficial/ABC_DataMining/blob/main/Python/Lecture_6_JSON%2C_XML_%D0%B8_Pickle_%D1%81%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F_%D0%B8_%D0%B4%D0%B5%D1%81%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F%2C%20SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Что такое JSON?

JSON, что является сокращенной аббревиатурой JavaScript Object Notation, — это удобный формат для обмена данными. Он прост для чтения и записи людьми, а также для машинного анализа и генерации. Это делает его одним из самых популярных форматов данных. В частности, JSON стал настоящим веб-языком, который широко используется для передачи данных между серверами и веб-приложениями через API.  

Вот пример JSON:



```
{
    "kwarg1": "value_1",
    "kwarg2": "value_2",
    "kwarg3": "value_3",
    "additional": ["value_4", "value_5", "value_6", ]
}
```

## Сериализация и десериализация
В Python есть множество библиотек, чтобы работать с JSON, но мы рассмотрим встроенную библиотеку JSON Python. Она позволяет приводить любые структуры данных к JSON-объекту — вплоть до пользовательских классов. А из него получать совместимую для работы в Python сущность — объект языка.

Упаковка объектов в байтовую последовательность называется сериализацией. А распаковка байтов в объекты языка программирования, приведение последовательности назад к типам и структурам, — десериализацией.
Python-р

В байты данные необходимо переводить, чтобы отправлять их по сети или локально другому приложению, так как иной формат передать невозможно. Вот так преобразовывают данные из объектов Python в JSON и обратно:

In [ ]:
# Импортируем библиотеку
import json

# Объявляем переменные
string = "Some test string"
integer = 211
array = [1, 2, 3, 4, 5]

# Создаем словарь
mydict = {"title": string, "code": integer, "data": array}

# Сериализуем его в JSON-структуру, как строку
x = json.dumps(mydict)
print(x)


# Проводим десериализацию JSON-объекта
y = json.loads(x)
print(y)

print(y["title"])

{"title": "Some test string", "code": 211, "data": [1, 2, 3, 4, 5]}
{'title': 'Some test string', 'code': 211, 'data': [1, 2, 3, 4, 5]}
Some test string

### Функции

Dumps позволяет создать JSON-строку из переданного в нее объекта. Loads — преобразовать строку назад в объекты языка.

Dump и load используют, чтобы сохранить результат в файл или воссоздать объект. Работают они схожим образом, но требуют передачи специального объекта для работы с файлом — filehandler.

In [ ]:
import json

# Создаем filehandler с помощью контекстного менеджера
with open("data.json", "w") as fh:
    json.dump([1, 2, 3, 4, 5], fh) # записываем структуру в файл

# Открываем тот же файл, но уже на чтение
with open("data.json", "r") as fh:
    json_res=json.load(fh) # загружаем структуру из файла
    print(json_res)

[1, 2, 3, 4, 5]

## Примеры

**Пример 1:** Запись и чтение строки:

In [ ]:
import json

# Запись строки в JSON-файл
with open("string_data.json", "w") as file:
    json.dump("Hello, world!", file)

# Чтение строки из JSON-файла
with open("string_data.json", "r") as file:
    data = json.load(file)
    print(data)  # Вывод: Hello, world!

Hello, world!

**Пример 2:** Запись и чтение кортежа:

In [ ]:
import json

# Запись кортежа в JSON-файл
my_tuple = (1, 2, 3)
with open("tuple_data.json", "w") as file:
    json.dump(my_tuple, file)

# Чтение кортежа из JSON-файла
with open("tuple_data.json", "r") as file:
    data = json.load(file)
    print(data)  # Вывод: [1, 2, 3]

[1, 2, 3]

**Пример 3:** Запись и чтение словаря (dictionary):

In [ ]:
import json

# Запись словаря в JSON-файл
my_dict = {"name": "Alice", "age": 30}
with open("dict_data.json", "w") as file:
    json.dump(my_dict, file)

# Чтение словаря из JSON-файла
with open("dict_data.json", "r") as file:
    data = json.load(file)
    print(data)  # Вывод: {'name': 'Alice', 'age': 30}

{'name': 'Alice', 'age': 30}

**Пример 4:** Запись и чтение списка (list):

In [ ]:
import json

# Запись списка в JSON-файл
my_list = ["Alice","Zukha", "Arina", "Karina"]
with open("list_data.json", "w") as file:
    json.dump(my_list, file)

# Чтение списка из JSON-файла
with open("list_data.json", "r") as file:
    data = json.load(file)
    print(data)

['Alice', 'Zukha', 'Arina', 'Karina']

**Пример 5:** Запись и чтение числа (integer):

In [ ]:
import json

# Запись числа в JSON-файл
my_number = 42
with open("number_data.json", "w") as file:
    json.dump(my_number, file)

# Чтение числа из JSON-файла
with open("number_data.json", "r") as file:
    data = json.load(file)
    print(data)  # Вывод: 42

42

## Как работать с пользовательскими объектами
Пользовательские классы не относятся к JSON-сериализуемым. Это значит, что просто применить к ним функции dumps, loads или dump и load не получится:

In [ ]:
import json

class Test:
    def __init__(self, title, body):
        self.title = title
        self.body = body

t = Test("Some string", "Here is a bit more text, but still isn't enough")

# пытаемся сериализовать его в JSON, но...
json.dumps(t)
# получаем ошибку TypeError, что класс несериализуем

TypeError: ignored

Решить эту проблему можно тремя способами.

### Написать функцию
Чтобы сериализовать пользовательский объект в JSON-структуру данных, нужен аргумент default. Указывайте вызываемый объект, то есть функцию или статический метод.

Чтобы получить аргументы класса с их значениями, нужна встроенная функция __dict__, потому что любой класс — это словарь со ссылками на значения по ключу.

Чтобы сериализовать аргументы класса и их значения в JSON, напишите функцию:

In [ ]:
import json

class Test:
    def __init__(self, title, body):
        self.title = title
        self.body = body

t = Test("Some string", "Here is a bit more text, but still isn't enough")

# используем анонимную функцию (лямбду), которая
# в качестве сериализуемых данных указывает полученный __dict__ объекта
json.dumps(t, default=lambda x: x.__dict__)

'{"title": "Some string", "body": "Here is a bit more text, but still isn\'t enough"}'

Но можно создать отдельную функцию и указать ее в качестве аргумента:

In [ ]:
import json

class Test:
    def __init__(self, title, body):
        self.title = title
        self.body = body

t = Test("Some string", "Here is a bit more text, but still isn't enough")


def to_json(obj):
     if isinstance(obj, Test):
         result = obj.__dict__
         result["className"] = obj.__class__.__name__
         return result

json.dumps(t, default=to_json)

'{"title": "Some string", "body": "Here is a bit more text, but still isn\'t enough", "className": "Test"}'

 Мы добавили название класса в получаемую структуру. Такой подход позволяет безошибочно понять: сущность какого класса нужно десериализовать в объект.

### Создать расширение классов
Такого же результата добьетесь, если примените расширения специальных классов библиотеки:

In [ ]:
import json

class Test:
    def __init__(self, title, body):
        self.title = title
        self.body = body

class TestEncoder(json.JSONEncoder):
     def default(self, o):
         return {"TITLE": o.title, "BODY": o.body, "CLASSNAME": o.__class__.__name__}


t = Test("Some string", "Here is a bit more text, but still isn't enough")

x = json.dumps(t, cls=TestEncoder)
print(x)

y = json.loads(x)
print(y)
print(y["TITLE"])

{"TITLE": "Some string", "BODY": "Here is a bit more text, but still isn't enough", "CLASSNAME": "Test"}
{'TITLE': 'Some string', 'BODY': "Here is a bit more text, but still isn't enough", 'CLASSNAME': 'Test'}
Some string

Этот код почти верен, но есть одна важная деталь, которую нужно учесть. При использовании пользовательского JSON-кодера (JSONEncoder), вам также нужно обеспечить правильную десериализацию при загрузке JSON обратно в объекты Python.

Вот исправленный код с добавленным методом from_json для десериализации:

In [ ]:
import json

class Test:
    def __init__(self, title, body):
        self.title = title
        self.body = body

class TestEncoder(json.JSONEncoder):
    def default(self, o):
        if isinstance(o, Test):
            return {"TITLE": o.title, "BODY": o.body, "CLASSNAME": o.__class__.__name__}
        return super().default(o)

def from_json(json_obj):
    if "CLASSNAME" in json_obj and json_obj["CLASSNAME"] == "Test":
        return Test(json_obj["TITLE"], json_obj["BODY"])
    return json_obj

t = Test("Some string", "Here is a bit more text, but still isn't enough")

# Сериализация
x = json.dumps(t, cls=TestEncoder)
print(x)

# Десериализация
y = json.loads(x, object_hook=from_json)
print(y)
print(y.title)

{"TITLE": "Some string", "BODY": "Here is a bit more text, but still isn't enough", "CLASSNAME": "Test"}
<__main__.Test object at 0x7ae6420ec8b0>
Some string

Такой подход можно использовать и в том случае, если класс состоит из нескольких других.

## Применить паттерн «Адаптер»
Идея в том, чтобы написать класс, который приводит к JSON пользовательские объекты и восстанавливает их. Определите класс фигуры, формы и цвета:

In [ ]:
class Figure:
    def __init__(self, title, form, color):
        self.title = title
        self.form = form
        self.color = color

    def __str__(self):
        return f"Figure: {self.title}, {repr(self.form)}, {repr(self.color)}"

class Form:
    def __init__(self, name):
        self.name = name

    def __repr__(self):
        return f"<Form: {self.name}>"

class Color:
    def __init__(self, name):
        self.name = name

    def __repr__(self):
        return f"<Color: {self.name}>"

Теперь напишим класс, который будет приводить объекты фигуры к JSON, а из JSON воссоздавать полученный объект:

In [ ]:
class JSONDataAdapter:
    @staticmethod
    def to_json(o):
        if isinstance(o, Figure):
            return json.dumps({
              "title": o.title,
              "form": o.form.name,
              "color": o.color.name,
            })

    @staticmethod
    def from_json(o):
        o = json.loads(o)

        try:
            form = Form(o["form"])
            color = Color(o["color"])
            figure = Figure(o["title"], form, color)
            return figure
        except AttributeError:
            print("Неверная структура")

Протестируйем решение:

In [ ]:
if __name__ == '__main__':
    # создадим несколько цветов
    black = Color("Black")
    yellow = Color("Yellow")
    green = Color("Green")

    # несколько форм
    rountt = Form("Rounded")
    square = Form("Squared")

    # объекты фигур
    figure_one = Figure("Black Square", form=square, color=black)
    figure_two = Figure("Yellow Circle", form=rountt, color=yellow)

    print("Отображение объектов")
    print(figure_one)
    print(figure_two)
    print()

    # преобразуем данные в JSON
    jone = JSONDataAdapter.to_json(figure_one)
    jtwo = JSONDataAdapter.to_json(figure_two)

    print("Отображение JSON")
    print(jone)
    print(jtwo)
    print()

    # восстановим объекты
    restored_one = JSONDataAdapter.from_json(jone)
    restored_two = JSONDataAdapter.from_json(jtwo)

    print("Отображение восстановленных объектов")
    print(restored_one)
    print(restored_two)

Отображение объектов
Figure: Black Square, <Form: Squared>, <Color: Black>
Figure: Yellow Circle, <Form: Rounded>, <Color: Yellow>

Отображение JSON
{"title": "Black Square", "form": "Squared", "color": "Black"}
{"title": "Yellow Circle", "form": "Rounded", "color": "Yellow"}

Отображение восстановленных объектов
Figure: Black Square, <Form: Squared>, <Color: Black>
Figure: Yellow Circle, <Form: Rounded>, <Color: Yellow>

## Примеры

**Пример 1.** Создайте класс Student с реализацией сериализации и десериализации.

In [ ]:
import json

class Student:
    def __init__(self, name, age, major):
        self.name = name
        self.age = age
        self.major = major

    def to_json(self):
        return {
            "name": self.name,
            "age": self.age,
            "major": self.major
        }

    @staticmethod
    def from_json(data):
        return Student(data["name"], data["age"], data["major"])

# Создаем экземпляр класса Student
student1 = Student("Alice", 20, "Computer Science")

# Сериализация экземпляра класса Student
json_str = json.dumps(student1.to_json())
print(json_str)

# Десериализация JSON в объект Student
json_data = '{"name": "Bob", "age": 21, "major": "Engineering"}'
restored_student = Student.from_json(json.loads(json_data))
print(restored_student.name, restored_student.age, restored_student.major)

{"name": "Alice", "age": 20, "major": "Computer Science"}
Bob 21 Engineering

**Пример 2.** Если класс Student унаследуется от класса Person, то вы можете включить это в определение класса Student следующим образом:

In [ ]:
import json
from typing import Dict, Any

class Person:
    def __init__(self, name: str, age: int) -> None:
        self.name = name
        self.age = age

    def to_json(self) -> Dict[str, Any]:
        return {"name": self.name, "age": self.age}

class Student(Person):
    def __init__(self, name: str, age: int, major: str) -> None:
        super().__init__(name, age)
        self.major = major

    def to_json(self) -> Dict[str, Any]:
        data = super().to_json()
        data["major"] = self.major
        return data

    @staticmethod
    def from_json(data: Dict[str, Any]) -> 'Student':
        return Student(data["name"], data["age"], data["major"])

# Создаем экземпляр класса Student
student1 = Student("Alice", 20, "Computer Science")

# Сериализация экземпляра класса Student
json_str = json.dumps(student1.to_json())
print(json_str)

# Десериализация JSON в объект Student
json_data = '{"name": "Bob", "age": 21, "major": "Engineering"}'
restored_student = Student.from_json(json.loads(json_data))
print(restored_student.name, restored_student.age, restored_student.major)

{"name": "Alice", "age": 20, "major": "Computer Science"}
Bob 21 Engineering

**Пример 3.**  У вас есть JSON-объект, который содержит информацию о командах, игроках и их результаты. Вам нужно извлечь значение "score" для первого игрока первой команды из этого JSON-объекта с использованием сериализации и десериализации. JSON-объект должен быть сохранен в файле, и вы должны использовать модуль json в Python для записи и чтения данных из файла.

Задача состоит из следующих шагов:

1. Создание JSON-объекта с информацией о командах, игроках и их результаты.
2. Сериализация (запись) JSON-объекта в файл с использованием модуля json.
3. Чтение и десериализация JSON-объекта из файла с использованием модуля json.
4. Извлечение значения "score" для первого игрока первой команды из десериализованного JSON-объекта.

In [ ]:
import json

# Создаем и записываем JSON в файл
data = {
    "data": {
        "teamStanding": [
            {
                "id": "team_1",
                "score": 103,
                "players": [
                    {
                        "user": {
                            "name": "player_1",
                            "id": "player_1"
                        },
                        "score": 35
                    }
                ]
            }
        ]
    }
}

# Записываем JSON в файл
with open('data.json', 'w') as file:
    json.dump(data, file)

# Чтение и десериализация JSON из файла
with open('data.json', 'r') as file:
    data_from_file = json.load(file)

# Извлечение значения score для первого игрока первой команды
player_score = data_from_file["data"]["teamStanding"][0]["players"][0]["score"]
print(player_score)  # Выведет: 35

35

# Создание, Редактирование и Парсинг XML файла

Python содержит встроенные XML инструменты для парсинга, к которым вы можете получить доступ при помощи модуля xml. В данной статье мы рассмотрим два подмодуля xml:

* minidom
* ElementTree
Мы начнем с minidom по той причине, что де-факто он используется в качестве метода парсинга XML. После этого, мы взглянем на то, как использовать ElementTree для этих целей.

## Работаем с minidom
Для начала, нам нужен XML для парсинга. Давайте взглянем на следующий небольшой пример XML:



```
<?xml version="1.0" ?>
<zAppointments reminder="15">
    <appointment>
        <begin>1181251680</begin>
        <uid>040000008200E000</uid>
        <alarmTime>1181572063</alarmTime>
        <state></state>
        <location></location>
        <duration>1800</duration>
        <subject>Bring pizza home</subject>
    </appointment>
</zAppointments>
```

Это типичный XML и читается он вполне интуитивно. В будущем вы, скорее всего, столкнетесь с более сложным примером XML, так что в нашем случае мы работаем с очень удобным материалом. В любом случае, сохраните описанный выше код XML под следующим названием: appt.xml

Давайте уделим больше времени на то, чтобы поближе познакомиться с парсингом данного файла в Python при помощи модуля minidom. Это достаточно длинный кусок кода, так что подготовьтесь:

In [ ]:
class ApptParser(object):
    # Конструктор класса
    def __init__(self, url, flag='url'):
        self.appointments = []  # Список для хранения информации о встречах
        self.flag = flag  # Флаг для определения источника данных (URL или файл)
        self.rem_value = 0  # Переменная, которая не используется в предоставленном коде
        xml_data = self.get_xml(url)  # Получение XML-данных из URL или файла
        self.handle_xml(xml_data)  # Обработка XML-данных

    # Метод для получения XML-данных
    def get_xml(self, url):
        try:
            f = urllib.request.urlopen(url)  # Открытие URL и получение данных
        except:
            f = url  # Если не удалось открыть URL, предполагаем, что это путь к файлу

        doc = xml.dom.minidom.parse(f)  # Парсинг XML-данных
        node = doc.documentElement  # Получение корневого элемента (документа)
        if node.nodeType == xml.dom.Node.ELEMENT_NODE:
            print('Element: %s' % node.nodeName)  # Вывод информации о корневом элементе
            for (name, value) in node.attributes.items():
                print('Attr -- name: %s value: %s' % (name, value))  # Вывод информации об атрибутах элемента
        return node  # Возвращает корневой элемент

    # Метод для обработки XML-данных
    def handle_xml(self, xml_data):
        appointments = xml_data.getElementsByTagName("appointment")  # Получение всех элементов "appointment"
        self.handle_appointments(appointments)  # Обработка каждого элемента "appointment"

    # Метод для получения текстового содержимого элемента
    def get_element(self, element):
        return self.get_text(element.childNodes)  # Вызов метода get_text для получения текстового содержимого

    # Метод для обработки всех элементов "appointment"
    def handle_appointments(self, appointments):
        for appt in appointments:
            self.handle_appointment(appt)  # Обработка каждого элемента "appointment"

    # Метод для обработки одного элемента "appointment"
    def handle_appointment(self, appt):
        begin = self.get_element(appt.getElementsByTagName("begin")[0])  # Получение текстового содержимого элемента "begin"
        duration = self.get_element(appt.getElementsByTagName("duration")[0])  # Получение текстового содержимого элемента "duration"
        subject = self.get_element(appt.getElementsByTagName("subject")[0])  # Получение текстового содержимого элемента "subject"
        location = self.get_element(appt.getElementsByTagName("location")[0])  # Получение текстового содержимого элемента "location"
        uid = self.get_element(appt.getElementsByTagName("uid")[0])  # Получение текстового содержимого элемента "uid"

        appointment_info = [begin, duration, subject, location, uid]  # Формирование информации о встрече в виде списка

        if self.flag == 'file':  # Если источник данных - файл
            try:
                state = self.get_element(appt.getElementsByTagName("state")[0])  # Получение текстового содержимого элемента "state"
                appointment_info.append(state)  # Добавление информации о состоянии встречи в список
                alarm = self.get_element(appt.getElementsByTagName("alarmTime")[0])  # Получение текстового содержимого элемента "alarmTime"
                appointment_info.append(alarm)  # Добавление информации о времени напоминания в список
            except Exception as e:
                print(e)  # Обработка и вывод ошибки, если таковая возникла

        self.appointments.append(appointment_info)  # Добавление информации о встрече в список всех встреч

    # Метод для получения текстового содержимого элемента
    def get_text(self, nodelist):
        rc = ""
        for node in nodelist:
            if node.nodeType == node.TEXT_NODE:
                rc = rc + node.data  # Добавление текстового содержимого элемента к результату
        return rc  # Возвращает текстовое содержимое элемента

Этот код определяет класс ApptParser, который выполняет разбор и обработку XML-данных из URL или файла. Класс содержит методы для получения XML-данных, обработки XML-данных, извлечения текстового содержимого элементов и формирования информации о встречах.

При создании экземпляра класса ApptParser с указанием URL или пути к файлу, XML-данные извлекаются с использованием метода get_xml, а затем обрабатываются с использованием метода handle_xml. Информация о встречах сохраняется в списке self.appointments.

Методы класса ApptParser используются для извлечения информации о встречах из XML-документа и обработки этой информации в соответствии с заданным флагом (URL или файл).

Обратите внимание на то, что метод handleAppt вызывает метод getElement, который, в свою очередь, вызывает метод getText. Технически, вы можете пропустить вызов getElement и вызвать getText напрямую. С другой стороны, вам может понадобиться добавить дополнительную обработку в getElement для конвертации текста или чего-то другого перед возвратом. Например, вам может понадобиться конвертировать целые числа, числа с запятыми или объекты decimal.Decimal.

Чтобы использовать класс ApptParser для обработки данного XML-документа, вам нужно создать экземпляр класса и передать URL или файл с XML-данными в конструктор. Вот пример использования класса для данного XML-документа:

In [ ]:
# Создание экземпляра класса ApptParser и обработка XML-документа
url = "/content/appointments.xml"  # Замените на реальный URL или путь к файлу
parser = ApptParser(url, flag='url')

# Вывод списка встреч
for appt in parser.appointments:
    print("Begin:", appt[0])
    print("Duration:", appt[1])
    print("Subject:", appt[2])
    print("Location:", appt[3])
    print("UID:", appt[4])
    if len(appt) > 5:
        print("State:", appt[5])
        print("Alarm Time:", appt[6])

Element: zAppointments
Attr -- name: reminder value: 15
Begin: 1181251680
Duration: 1800
Subject: Bring pizza home
Location:
UID: 040000008200E000

Давайте попробуем еще один пример с minidom перед тем, как двигаться дальше. Мы используем пример XML с сайта MSDN Майкрософт: http://msdn.microsoft.com/en-us/library/ms762271%28VS.85%29.aspx. Сохраните следующий код под названием example.xml



```
<?xml version="1.0"?>
<catalog>
   <book id="bk103">
      <author>Corets, Eva</author>
      <title>Maeve Ascendant</title>
      <genre>Fantasy</genre>
      <price>5.95</price>
      <publish_date>2000-11-17</publish_date>
      <description>After the collapse of a nanotechnology
      society in England, the young survivors lay the
      foundation for a new society.</description>
   </book>
   <book id="bk104">
      <author>Corets, Eva</author>
      <title>Oberon's Legacy</title>
      <genre>Fantasy</genre>
      <price>5.95</price>
      <publish_date>2001-03-10</publish_date>
      <description>In post-apocalypse England, the mysterious
      agent known only as Oberon helps to create a new life
      for the inhabitants of London. Sequel to Maeve
      Ascendant.</description>
   </book>
   <book id="bk105">
      <author>Corets, Eva</author>
      <title>The Sundered Grail</title>
      <genre>Fantasy</genre>
      <price>5.95</price>
      <publish_date>2001-09-10</publish_date>
      <description>The two daughters of Maeve, half-sisters,
      battle one another for control of England. Sequel to
      Oberon's Legacy.</description>
   </book>
   <book id="bk106">
      <author>Randall, Cynthia</author>
      <title>Lover Birds</title>
      <genre>Romance</genre>
      <price>4.95</price>
      <publish_date>2000-09-02</publish_date>
      <description>When Carla meets Paul at an ornithology
      conference, tempers fly as feathers get ruffled.</description>
   </book>
   <book id="bk107">
      <author>Thurman, Paula</author>
      <title>Splish Splash</title>
      <genre>Romance</genre>
      <price>4.95</price>
      <publish_date>2000-11-02</publish_date>
      <description>A deep sea diver finds true love twenty
      thousand leagues beneath the sea.</description>
   </book>
   <book id="bk108">
      <author>Knorr, Stefan</author>
      <title>Creepy Crawlies</title>
      <genre>Horror</genre>
      <price>4.95</price>
      <publish_date>2000-12-06</publish_date>
      <description>An anthology of horror stories about roaches,
      centipedes, scorpions  and other insects.</description>
   </book>
   <book id="bk109">
      <author>Kress, Peter</author>
      <title>Paradox Lost</title>
      <genre>Science Fiction</genre>
      <price>6.95</price>
      <publish_date>2000-11-02</publish_date>
      <description>After an inadvertant trip through a Heisenberg
      Uncertainty Device, James Salway discovers the problems
      of being quantum.</description>
   </book>
   <book id="bk110">
      <author>O'Brien, Tim</author>
      <title>Microsoft .NET: The Programming Bible</title>
      <genre>Computer</genre>
      <price>36.95</price>
      <publish_date>2000-12-09</publish_date>
      <description>Microsoft's .NET initiative is explored in
      detail in this deep programmer's reference.</description>
   </book>
</catalog>
```

В этом примере мы выполнили парсинг XML, извлекли заголовки книги и вывели их в stdout. Давайте взглянем на код:

In [ ]:
# -*- coding: utf-8 -*-
import xml.dom.minidom as minidom

def get_titles(xml_file):
    """
    Выводим все заголовки из xml.
    """
    doc = minidom.parse(xml_file)
    books = doc.getElementsByTagName("book")

    titles = []
    for book in books:
        title_obj = book.getElementsByTagName("title")[0]
        titles.append(title_obj)

    for title in titles:
        nodes = title.childNodes
        for node in nodes:
            if node.nodeType == node.TEXT_NODE:
                print(node.data)

if __name__ == "__main__":
    document = '/content/books.xml'
    get_titles(document)

XML Developer's Guide
Midnight Rain
Maeve Ascendant
Oberon's Legacy
The Sundered Grail
Lover Birds
Splish Splash
Creepy Crawlies
Paradox Lost
Microsoft .NET: The Programming Bible
MSXML3: A Comprehensive Guide
Visual Studio 7: A Comprehensive Guide

Данный код представляет собой короткую функцию, которая принимает один аргумент - файл XML. Мы импортируем модуль minidom и даем ему такое же название, чтобы упростить отсылки к нему. Затем мы парсим XML. Первые две строки функции очень похожи на те, что были в предыдущем примере. Мы используем метод getElementsByTagName, чтобы собрать нужные нам части XML, после чего выполняем итерацию над результатом и извлекаем заголовки книги. Таким образом, мы извлекаем объекты заголовков, поэтому нам нужно выполнить итерацию этих данных, а также извлечь обычный текст. Поэтому мы используем вложенный цикл.

Давайте уделаем немного времени на изучение унаследованного модуля ElementTree под названием "xml".

## Парсинг с ElementTree

В данном разделе, мы научимся создавать XML файлы, редактировать и выполнять парсинг при помощи ElementTree. Для сравнения, мы используем тот же XML, который мы использовали в предыдущем разделе для того, чтобы продемонстрировать разницу в использовании minidom и ElementTree. Вот наш код:



```
<?xml version="1.0" ?>
<zAppointments reminder="15">
    <appointment>
        <begin>1181251680</begin>
        <uid>040000008200E000</uid>
        <alarmTime>1181572063</alarmTime>
        <state></state>
        <location></location>
        <duration>1800</duration>
        <subject>Bring pizza home</subject>
    </appointment>
</zAppointments>
```

Давайте начнем с изучения того, как создавать такую XML структуру при помощи Python

### Как создавать XML при помощи ElementTree
Создание XML при помощи ElementTree – это очень просто. В данном разделе, мы попытаемся создать написанный выше XML в Python. Давайте посмотрим на код:

In [ ]:
# -*- coding: utf-8 -*-
import xml.etree.ElementTree as ET

def createXML(filename):
    """
    Создает XML-файл с деталями о встрече.

    Аргументы:
    filename (str): Название создаваемого XML-файла.
    """
    # Создание корневого элемента для структуры XML
    root = ET.Element("zAppointments")

    # Создание элемента 'appointment' и добавление его к корню
    appt = ET.Element("appointment")
    root.append(appt)

    # Создание подэлементов для деталей о встрече
    begin = ET.SubElement(appt, "begin")
    begin.text = "1181251680"  # Установка текстового содержимого для элемента 'begin'

    uid = ET.SubElement(appt, "uid")
    uid.text = "040000008200E000"  # Установка текстового содержимого для элемента 'uid'

    alarmTime = ET.SubElement(appt, "alarmTime")
    alarmTime.text = "1181572063"  # Установка текстового содержимого для элемента 'alarmTime'

    state = ET.SubElement(appt, "state")  # Создание пустого элемента 'state'

    location = ET.SubElement(appt, "location")  # Создание пустого элемента 'location'

    duration = ET.SubElement(appt, "duration")
    duration.text = "1800"  # Установка текстового содержимого для элемента 'duration'

    subject = ET.SubElement(appt, "subject")  # Создание пустого элемента 'subject'

    # Создание объекта ElementTree с корневым элементом
    tree = ET.ElementTree(root)

    # Запись XML-структуры в файл
    with open(filename, "wb") as fh:  # Открытие файла в бинарном режиме для записи
        tree.write(fh, encoding="utf-8", xml_declaration=True)

if __name__ == "__main__":
    createXML("appt.xml")  # Вызов функции createXML для создания XML-файла

Если вы запустите этот код, вы должны получить что-то вроде нижеизложенного (возможно в одной строке):



```
<?xml version="1.0" encoding="UTF-8"?>
<zAppointments>
   <appointment>
      <begin>1181251680</begin>
      <uid>040000008200E000</uid>
      <alarmTime>1181572063</alarmTime>
      <state />
      <location />
      <duration>1800</duration>
      <subject />
   </appointment>
</zAppointments>
```

Это очень похоже на исходный код и это, безусловно, действенный XML. Само собой, наши коды отличаются, но весьма похожи. Давайте уделим время для разбора кода и убедиться в том, что мы его хорошо понимаем. Для начала мы создаем корневой элемент при помощи функции Element модуля ElementTree. Далее, мы создаем элемент назначения и добавляем его к root. Далее, мы создаем SubElements, выполнив парсинг назначения объекта Element (appt) в SubElement наряду с именем, например, begin. Далее, для каждого SubElement, мы назначаем их текстовые свойства, для передачи значения. В конце скрипта мы создаем ElementTree и используем его для написания XML в файле. Теперь мы готовы к тому, чтобы научиться редактировать файл!

### Как редактировать XML при помощи ElementTree
Редактирование XML при помощи ElementTree это также очень просто. Чтобы все было немного интереснее, мы добавим другой блок назначения в XML:



```
<?xml version="1.0" ?>
<zAppointments reminder="15">
    <appointment>
        <begin>1181251680</begin>
        <uid>040000008200E000</uid>
        <alarmTime>1181572063</alarmTime>
        <state></state>
        <location></location>
        <duration>1800</duration>
        <subject>Bring pizza home</subject>
    </appointment>
    <appointment>
        <begin>1181253977</begin>
        <uid>sdlkjlkadhdakhdfd</uid>
        <alarmTime>1181588888</alarmTime>
        <state>TX</state>
        <location>Dallas</location>
        <duration>1800</duration>
        <subject>Bring pizza home</subject>
    </appointment>
</zAppointments>
```

Теперь мы напишем код для того, чтобы изменить каждое значение тега begin от секунд, начиная с эпохи на что-нибудь более читабельное. Мы используем модуль time python, чтобы облегчить себе жизнь:

In [ ]:
# -*- coding: utf-8 -*-
import time
import xml.etree.cElementTree as ET

def editXML(filename):
    """
    Функция для редактирования XML файла.

    Аргументы:
    filename (строка): Имя файла, который нужно отредактировать.
    """
    # Загружаем XML файл
    tree = ET.ElementTree(file=filename)
    root = tree.getroot()

    # Изменяем время начала встречи на текущее время
    for begin_time in root.iter("begin"):
        begin_time.text = time.ctime(int(begin_time.text))

    # Сохраняем изменения в новый XML файл
    with open("updated.xml", "wb") as f:
        tree.write(f, encoding="utf-8", xml_declaration=True)

if __name__ == "__main__":
    editXML("original_appt.xml")

Здесь мы создаем объект ElementTree с именем "tree" и извлекаем из него корневой элемент. Затем мы используем метод iter(), чтобы найти все теги с меткой "begin". Следует отметить, что метод iter() был добавлен в Python 2.7. В цикле for мы изменяем текстовое содержимое каждого элемента, чтобы преобразовать его в более читаемый формат времени с помощью метода time.ctime(). Также обратите внимание, что нам необходимо преобразовать строку в целое число перед передачей его в ctime. Результат будет примерно следующим:



```
<?xml version='1.0' encoding='utf-8'?>
<zAppointments reminder="15">
    <appointment>
        <begin>Thu Jun  7 21:28:00 2007</begin>
        <uid>040000008200E000</uid>
        <alarmTime>1181572063</alarmTime>
        <state />
        <location />
        <duration>1800</duration>
        <subject>Bring pizza home</subject>
    </appointment>
    <appointment>
        <begin>Thu Jun  7 22:06:17 2007</begin>
        <uid>sdlkjlkadhdakhdfd</uid>
        <alarmTime>1181588888</alarmTime>
        <state>TX</state>
        <location>Dallas</location>
        <duration>1800</duration>
        <subject>Bring pizza home</subject>
    </appointment>
</zAppointments>
```

Вы также можете использовать методы ElementTree, такие как find() или findall() для поиска конкретных тегов в вашем XML. Метод find() найдет только первый пример, в то время как findall() найдет каждый тег с указанной отметкой. Это очень полезно при решении задач, возникших при редактировании или при парсинге, что является темой нашего следующего раздела!

### Парсинг и ElementTree

Сейчас мы научимся тому, как выполнять базовый парсинг при помощи ElementTree. Сначала, мы пройдемся по коду в целом, затем разберем его кирпичик за кирпичиком, чтобы понять, как это работает. Обратите внимание на то, что этот код основан на оригинальном примере, и должен работать также и на втором примере.

In [ ]:
# -*- coding: utf-8 -*-
import xml.etree.cElementTree as ET

def parseXML(xml_file):
    """
    Парсинг XML с использованием ElementTree.

    Аргументы:
    xml_file (строка): Имя XML файла для парсинга.
    """
    # Создаем объект ElementTree из XML файла
    tree = ET.ElementTree(file=xml_file)

    # Получаем корневой элемент и выводим его тег и атрибуты
    root = tree.getroot()
    print("tag=%s, attrib=%s" % (root.tag, root.attrib))

    # Итерируемся по дочерним элементам корневого элемента
    for child in root:
        print(child.tag, child.attrib)
        if child.tag == "appointment":
            # Если тег равен "appointment", итерируемся по его дочерним элементам
            for step_child in child:
                print(step_child.tag)

    # Парсинг всей XML структуры с использованием итератора дерева
    print("-" * 40)
    print("Итерация с использованием итератора дерева")
    print("-" * 40)
    iter_ = tree.iter()

    for elem in iter_:
        print(elem.tag)

    # Получаем данные, используя метод list(), чтобы получить список дочерних элементов
    print("-" * 40)
    print("Обработка дочерних элементов с помощью метода list()")
    print("-" * 40)
    appointments = list(root)

    for appointment in appointments:
        for appt_child in appointment:
            print("%s=%s" % (appt_child.tag, appt_child.text))

if __name__ == "__main__":
    parseXML("appt.xml")

tag=zAppointments, attrib={}
appointment {}
begin
uid
alarmTime
state
location
duration
subject
----------------------------------------
Итерация с использованием итератора дерева
----------------------------------------
zAppointments
appointment
begin
uid
alarmTime
state
location
duration
subject
----------------------------------------
Обработка дочерних элементов с помощью метода list()
----------------------------------------
begin=1181251680
uid=040000008200E000
alarmTime=1181572063
state=None
location=None
duration=1800
subject=None

Вы уже должны понять, как это работает, но в этом примере, так же как и в предыдущем, мы импортируем `cElementTree` вместо обычного `ElementTree`. Разница между этими двумя заключается в том, что `cElementTree` основан на языке C, а не на Python, поэтому он работает намного быстрее. В любом случае, мы снова создаем объект `ElementTree` и извлекаем из него корневой элемент. Обратите внимание, что мы выводим корневой элемент, его тег и атрибуты.

Далее мы покажем несколько способов итерации по тегам. Первый цикл просто итерирует XML, дочерний элемент за дочерним. Таким образом, выводятся только дочерние элементы (назначение) с наивысшим уровнем, поэтому мы добавили оператор if, чтобы проверить дочерний элемент и выполнить его итерацию.

Затем мы берем итератор из объекта `tree` и также итерируем его. В результате мы получаем ту же информацию, но без дополнительных шагов, как в первом примере. Третий метод использует метод `list()`, чтобы получить список дочерних элементов. Затем мы используем вложенный цикл, чтобы получить все теги дочерних элементов и назначений.

В последнем примере используется метод `iter()` для перебора всех тегов, соответствующих строке "begin".

Как было отмечено в последнем разделе, вы также можете использовать методы `find()` или `findall()`, чтобы облегчить поиск конкретных тегов или наборов тегов соответственно. Также обратите внимание на то, что каждый объект Element имеет свой тег и текстовое значение, что можно использовать для получения точной информации.

# Примеры
**Пример 1.** Сериализация и десериализация кортежа:

In [ ]:
import xml.etree.ElementTree as ET

# Сериализация кортежа в XML
def serialize_tuple_to_xml(data):
    root = ET.Element("tuple")
    for item in data:
        sub_element = ET.SubElement(root, "item")
        sub_element.text = str(item)
    return ET.tostring(root).decode("utf-8")

# Десериализация XML в кортеж
def deserialize_xml_to_tuple(xml_string):
    root = ET.fromstring(xml_string)
    return tuple(int(child.text) for child in root)

# Пример использования
tuple_data = (1, 2, 3)
xml_data = serialize_tuple_to_xml(tuple_data)
print(xml_data)
deserialized_tuple = deserialize_xml_to_tuple(xml_data)
print(deserialized_tuple)

<tuple><item>1</item><item>2</item><item>3</item></tuple>
(1, 2, 3)

Пример 2. Сериализация и десериализация строки:

In [ ]:
import xml.etree.ElementTree as ET

# Сериализация строки в XML
def serialize_string_to_xml(data):
    root = ET.Element("string")
    root.text = data
    return ET.tostring(root).decode("utf-8")

# Десериализация XML в строку
def deserialize_xml_to_string(xml_string):
    root = ET.fromstring(xml_string)
    return root.text

# Пример использования
string_data = "Hello, XML!"
xml_data = serialize_string_to_xml(string_data)
print(xml_data)
deserialized_string = deserialize_xml_to_string(xml_data)
print(deserialized_string)

<string>Hello, XML!</string>
Hello, XML!

**Пример 3.**  Сериализация и десериализация списка:

In [ ]:
import xml.etree.ElementTree as ET

# Сериализация списка в XML
def serialize_list_to_xml(data):
    root = ET.Element("list")
    for item in data:
        sub_element = ET.SubElement(root, "item")
        sub_element.text = str(item)
    return ET.tostring(root).decode("utf-8")

# Десериализация XML в список
def deserialize_xml_to_list(xml_string):
    root = ET.fromstring(xml_string)
    return [int(child.text) for child in root]

# Пример использования
list_data = [4, 5, 6]
xml_data = serialize_list_to_xml(list_data)
print(xml_data)
deserialized_list = deserialize_xml_to_list(xml_data)
print(deserialized_list)

<list><item>4</item><item>5</item><item>6</item></list>
[4, 5, 6]

**Пример 4.** Сериализация и десериализация объектов:

In [ ]:
import xml.etree.ElementTree as ET

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Сериализация объекта в XML
def serialize_object_to_xml(obj):
    root = ET.Element("person")
    name_element = ET.SubElement(root, "name")
    name_element.text = obj.name
    age_element = ET.SubElement(root, "age")
    age_element.text = str(obj.age)
    return ET.tostring(root).decode("utf-8")

# Десериализация XML в объект
def deserialize_xml_to_object(xml_string):
    root = ET.fromstring(xml_string)
    name = root.find("name").text
    age = int(root.find("age").text)
    return Person(name, age)

# Пример использования
person_obj = Person("Alice", 30)
xml_data = serialize_object_to_xml(person_obj)
print(xml_data)
deserialized_person = deserialize_xml_to_object(xml_data)
print(deserialized_person.name, deserialized_person.age)

<person><name>Alice</name><age>30</age></person>
Alice 30

**Пример 5.** Сериализация и десериализация объектов:

In [ ]:
import xml.etree.ElementTree as ET

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def to_xml(self):
        # Создание XML-элемента для объекта Person
        person_element = ET.Element("person")
        name_element = ET.SubElement(person_element, "name")
        name_element.text = self.name
        age_element = ET.SubElement(person_element, "age")
        age_element.text = str(self.age)
        return person_element

    @staticmethod
    def from_xml(element):
        # Десериализация XML в объект Person
        name = element.find("name").text
        age = int(element.find("age").text)
        return Person(name, age)

class Student(Person):
    def __init__(self, name, age, student_id):
        super().__init__(name, age)
        self.student_id = student_id

    def to_xml(self):
        # Создание XML-элемента для объекта Student
        student_element = super().to_xml()  # Используем метод родительского класса для создания основного элемента
        student_element.tag = "student"  # Изменяем тег элемента на "student"
        student_id_element = ET.SubElement(student_element, "student_id")
        student_id_element.text = self.student_id
        return student_element

    @staticmethod
    def from_xml(element):
        # Десериализация XML в объект Student
        person = Person.from_xml(element)  # Используем метод родительского класса для десериализации основной информации
        student_id = element.find("student_id").text
        return Student(person.name, person.age, student_id)

# Создание объекта студента
student1 = Student("Alice", 20, "S12345")

# Сериализация объекта в XML
student_xml = ET.tostring(student1.to_xml()).decode("utf-8")
print(student_xml)

# Десериализация XML в объект студента
student_element = ET.fromstring(student_xml)
deserialized_student = Student.from_xml(student_element)
print(deserialized_student.name)  # Вывод: "Alice"
print(deserialized_student.age)   # Вывод: 20
print(deserialized_student.student_id)  # Вывод: "S12345"

<student><name>Alice</name><age>20</age><student_id>S12345</student_id></student>
Alice
20
S12345

# Модуль pickle

Модуль `pickle` в Python используется для сериализации (преобразования объектов Python в поток байтов) и десериализации (восстановления объектов Python из потока байтов). Вот несколько основных причин, по которым `pickle` может быть полезен:

1. Сохранение состояния объектов: `pickle` позволяет сохранить состояние объектов Python в файле, чтобы они могли быть восстановлены позже.

2. Обмен данными между приложениями: `pickle` позволяет преобразовать объекты Python в поток байтов, которые затем могут быть переданы через сеть или сохранены на диске.

3. Кеширование объектов: `pickle` может использоваться для кеширования сложных вычислений или результатов запросов, чтобы избежать повторных вычислений.

4. Сериализация объектов для хранения в базе данных: `pickle` может быть использован для сериализации объектов перед их сохранением в базе данных.

5. Передача объектов между процессами: `pickle` позволяет передавать объекты между процессами или сохранять состояние объектов перед завершением процесса.

Однако следует помнить, что использование `pickle` может иметь некоторые ограничения, такие как совместимость между версиями Python и потенциальные проблемы безопасности при десериализации данных из ненадежных источников.


***Не загружайте с помощью модуля pickle файлы из ненадёжных источников. Это может привести к необратимым последствиям.***

Модуль pickle предоставляет следующие функции для удобства сохранения/загрузки объектов:

pickle.dump(obj, file, protocol=None, *, fix_imports=True) - записывает сериализованный объект в файл. Дополнительный аргумент protocol указывает используемый протокол. По умолчанию равен 3 и именно он рекомендован для использования в Python 3 (несмотря на то, что в Python 3.4 добавили протокол версии 4 с некоторыми оптимизациями). В любом случае, записывать и загружать надо с одним и тем же протоколом.

* pickle.dumps(obj, protocol=None, *, fix_imports=True) - возвращает сериализованный объект. Впоследствии вы его можете использовать как угодно.

* pickle.load(file, *, fix_imports=True, encoding="ASCII", errors="strict") - загружает объект из файла.

* pickle.loads(bytes_object, *, fix_imports=True, encoding="ASCII", errors="strict") - загружает объект из потока байт.

Модуль pickle также определяет несколько исключений:

>pickle.PickleError
* pickle.PicklingError - случились проблемы с сериализацией объекта.
* pickle.UnpicklingError - случились проблемы с десериализацией объекта.
Этих функций вполне достаточно для сохранения и загрузки встроенных типов данных.

## Примеры

**Пример 1.** Сериализация и десериализация числового типа

In [ ]:
import pickle

number = 42

# Сериализация числа
with open("number.pickle", "wb") as file:
    pickle.dump(number, file)

# Десериализация числа
with open("number.pickle", "rb") as file:
    deserialized_number = pickle.load(file)

print(deserialized_number)  # Вывод: 42

42

**Пример 2.** Сериализация и десериализация строкового типа:

In [ ]:
import pickle

string = "Hello, Pickle!"

# Сериализация строки
with open("string.pickle", "wb") as file:
    pickle.dump(string, file)

# Десериализация строки
with open("string.pickle", "rb") as file:
    deserialized_string = pickle.load(file)

print(deserialized_string)  # Вывод: Hello, Pickle!

Hello, Pickle!

**Пример 3.** Сериализация и десериализация кортежа:

In [ ]:
import pickle

tuple_data = (1, 2, 3)

# Сериализация кортежа
with open("tuple.pickle", "wb") as file:
    pickle.dump(tuple_data, file)

# Десериализация кортежа
with open("tuple.pickle", "rb") as file:
    deserialized_tuple = pickle.load(file)

print(deserialized_tuple)  # Вывод: (1, 2, 3)

(1, 2, 3)

**Пример 4.** Сериализация и десериализация списка:

In [ ]:
import pickle

list_data = [1, 2, 3]

# Сериализация списка
with open("list.pickle", "wb") as file:
    pickle.dump(list_data, file)

# Десериализация списка
with open("list.pickle", "rb") as file:
    deserialized_list = pickle.load(file)

print(deserialized_list)  # Вывод: [1, 2, 3]

[1, 2, 3]

**Пример 5.** Сериализация и десериализация словаря:

In [ ]:
import pickle

dict_data = {"a": 1, "b": 2, "c": 3}

# Сериализация словаря
with open("dict.pickle", "wb") as file:
    pickle.dump(dict_data, file)

# Десериализация словаря
with open("dict.pickle", "rb") as file:
    deserialized_dict = pickle.load(file)

print(deserialized_dict)  # Вывод: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

**Пример 6.** Сериализация и десериализация объекта класса:

In [ ]:
import pickle

class Student:
    def __init__(self, name, age, student_id):
        self.name = name
        self.age = age
        self.student_id = student_id

    def __str__(self):
        return f"Student(name={self.name}, age={self.age}, student_id={self.student_id})"

# Создание объекта студента
student = Student("Alice", 20, "S12345")

# Сериализация объекта в файл
with open("student.pickle", "wb") as file:
    pickle.dump(student, file)

# Десериализация объекта из файла
with open("student.pickle", "rb") as file:
    deserialized_student = pickle.load(file)

print(deserialized_student)  # Вывод: Student(name=Alice, age=20, student_id=S12345)

Student(name=Alice, age=20, student_id=S12345)

# SQLite
## Подключение к SQLite

Python по умолчанию поддерживает работу с базой данных SQLite. Для этого применяется встроенная библиотека sqlite3, которая в python доступна в виде одноименного модуля.

Для подключения к бд в этой библиотеке определена функция connect():



```
sqlite3.connect(database, timeout=5.0, detect_types=0, isolation_level='DEFERRED', check_same_thread=True, factory=sqlite3.Connection, cached_statements=128, uri=False)

```

Она принимает следующие параметры:

* database: путь к файлу базы данных. Если база данных расположена в памяти, а не на диске, то для открытия подключения используется ":memory:"

* timeout: период времени в секундах, через который генерируется исключение, если файл бд занят другим процессом

* detect_types: управляет сопоставлением типов SQLite с типами Python. Значение 0 отключает сопоставление

* isolation_level : устанавливает уровень изоляции подключения и определяет процесс отрытия неявных транзакций. Возможные значения: "DEFERRED" (значение по умолчанию), "EXCLUSIVE", "IMMEDIATE" или None (неявные транзакции отключены)

* check_same_thread: если равно True (значение по умолчанию), то только поток, который создал подключение, может его использовать. Если равно False, подключение может использоваться несколькими потоками.

* factory: класс фабрики, который применяется для создания подключения. Должен представлять класс, производный от Connection. По умолчанию используется класс sqlite3.Connection

* cached_statements: количество SQL-инструкций, которые должны кэшироваться. По умолчанию равно 128.

* uri: булевое значение, если равно True, то путь к базе данных рассматривается как адрес URI

Обязательным параметром функции является путь к базе данных. Результатом функции является объект подключения (объект класса Connection), через затем можно взаимодействовать с базой данных.

Например, подключение к базе данных "myfirst.db", которая располагается в той же папке, что и текущий скрипт (если такая база данных отсутствует, то она автоматически создается):

In [ ]:
import sqlite3;

con = sqlite3.connect("myfirst.db")

## Сопоставление типов SQLite и Python
Прежде чем начать работать с базой данных, следует понимать, как сопоставляются типы SQLite и типы Python. По умолчанию применяются следующие сопоставления:

![image.png]()

Следует отметить, что при необходимости мы можем переопределять сопоставление, применяя кастомные конвертеры типов.

## Получение курсора
Для выполнения выражений SQL и получения данных из БД, необходимо создать курсор. Для этого у объекта Connection вызывается метод cursor(). Этот метод возвращает объект Cursor:

In [ ]:
import sqlite3;
# создаем подключение
con = sqlite3.connect("firstDB.db")
# получаем курсор
cursor = con.cursor()

## Выполнение запросов к базе данных
Для выполнения запросов и получения данных класс Cursor предоставляет ряд методов:

* execute(sql, parameters=(), /): выполняет одну SQL-инструкцию. Через второй параметр в код SQL можно передать набор параметров в виде списка или словаря

* executemany(sql, parameters, /): выполняет параметризованное SQL-инструкцию. Через второй параметр принимает наборы значений, которые передаются в выполняемый код SQL.

* executescript(sql_script, /): выполняет SQL-скрипт, который может включать множество SQL-инструкций

* fetchone(): возвращает одну строку в виде кортежа из полученного из БД набора строк

* fetchmany(size=cursor.arraysize): возвращает набор строк в виде списка. количество возвращаемых строк передается через параметр. Если больше строк нет в наборе, то возвращается пустой список.

* fetchall(): возвращает все (оставшиеся) строки в виде списка. При отсутствии строк возвращается пустой список.

## Создание таблицы
Для создания таблицы в SQLite применяется инструкция CREATE TABLE. Например, создадим в базе данных "metanit.db" таблицу people:

In [ ]:
import sqlite3;

con = sqlite3.connect("firstDB.db")
cursor = con.cursor()

# создаем таблицу people
cursor.execute("""CREATE TABLE people
                (id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT,
                age INTEGER)
            """)

В метод cursor.execute() передается инструкция CREATE TABLE, которая создает таблицу people с тремя столбцами. Столбец id представляет идентификатор пользователя, хранит данные типа Integer, то есть число, и также представляет первичный ключ, значение которого будет автоматически генерироваться и инкрементироваться с каждой новой строкой. Второй столбец - name представляет строку - имя пользователя. И третий столбец - age представляет возраст пользователя.

После выполнения скрипта мы можем открыть базу данных в каком-нибудь браузере баз данных SQLite, например, в DB Browser for SQLite и увидеть созданную таблицу

## Основные операции с данными в SQLite

Рассмотрим основные операции с базой данных SQLite с помощью библиотеки sqlite3 на примере таблицы:



```
CREATE TABLE people (
    id INTEGER PRIMARY KEY AUTOINCREMENT,  
    name TEXT,
    age INTEGER
)
```

## Добавление данных
Для добавления данных применяется SQL-инструкция INSERT. Для добавления одной строки используем метод execute() объекта Cursor:

In [ ]:
import sqlite3;

con = sqlite3.connect("firstDB.db")
cursor = con.cursor()

# Создание таблицы
# Создание таблицы "people"
cursor.execute('''CREATE TABLE IF NOT EXISTS people (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    age INTEGER
                )''')

# добавляем строку в таблицу people
cursor.execute("INSERT INTO people (name, age) VALUES ('Tom', 38)")
# выполняем транзакцию
con.commit()

## Множественная вставка
Метод executemany() позволяет вставить набор строк:

In [ ]:
import sqlite3;

con = sqlite3.connect("firstDB.db")
cursor = con.cursor()

# данные для добавления
people = [("Sam", 28), ("Alice", 33), ("Kate", 25)]
cursor.executemany("INSERT INTO people (name, age) VALUES (?, ?)", people)

con.commit()

В метод cursor.executemany() по сути передается то же самое выражение SQL, только теперь данные определены в виде списка кортежей people. Фактически каждый кортеж в этом списке представляет отдельную строку - данные отдельного пользователя, и при выполнении метода для каждого кортежа будет создаваться свое выражение INSERT INTO

## Получение данных
Для получения данных применяется SQL-команда SELECT. После выполнения этой команды курсор получает данные, которые можно получить с помощью одного из методов: fetchall() (возвращает список со всеми строками), fetchmany() (возвращает указанное количество строк) и fetchone() (возвращает одну в наборе строку).

### Получение всех строк
Например, получим все ранее добавленные данные из таблицы people:

In [ ]:
import sqlite3;

con = sqlite3.connect("firstDB.db")
cursor = con.cursor()

# получаем все данные из таблицы people
cursor.execute("SELECT * FROM people")
print(cursor.fetchall())

[(1, 'Tom', 38), (2, 'Sam', 28), (3, 'Alice', 33), (4, 'Kate', 25)]

При необходимости мы можем перебрать список, используя стандартные циклические конструкции:

In [ ]:
import sqlite3;

con = sqlite3.connect("firstDB.db")
cursor = con.cursor()

cursor.execute("SELECT * FROM people")
for person in cursor.fetchall():
    print(f"{person[1]} - {person[2]}")

Tom - 38
Sam - 28
Alice - 33
Kate - 25

### Получение части строк
Получение части строк с помощью метода fetchmany(), в который передается количество строк:

In [ ]:
import sqlite3;

con = sqlite3.connect("firstDB.db")
cursor = con.cursor()

cursor.execute("SELECT * FROM people")
# извлекаем первые 3 строки в полученном наборе
print(cursor.fetchmany(3))

[(1, 'Tom', 38), (2, 'Sam', 28), (3, 'Alice', 33)]

### Получение одной строки
Метод fetchone() извлекает следующую строку в виде кортежа значений и возвращает его. Если строк больше нет, то возвращает None:

In [ ]:
import sqlite3;

con = sqlite3.connect("firstDB.db")
cursor = con.cursor()

cursor.execute("SELECT * FROM people")
# извлекаем одну строку
print(cursor.fetchone())    # (1, 'Tom', 38)

(1, 'Tom', 38)

Данный метод удобно применять, когда нам надо извлечь из базы данных только один объект:

In [ ]:
import sqlite3;

con = sqlite3.connect("firstDB.db")
cursor = con.cursor()

cursor.execute("SELECT name, age FROM people WHERE id=2")
# раскладываем кортеж на две переменных
name, age = cursor.fetchone()
print(f"Name: {name}    Age: {age}")    # Name: Bob   Age: 42

Name: Sam    Age: 28

Здесь получаем из бд строку с id=2, и полученный результат раскладываем на две переменных name и age (так как кортеж в Python можно разложить на отдельные значения)

## Обновление
Для обновления в SQL выполняется команда UPDATE. Например, заменим у всех пользователей имя с Tom на Tomas:

In [ ]:
import sqlite3;

con = sqlite3.connect("firstDB.db")
cursor = con.cursor()

# обновляем строки, где name = Tom
cursor.execute("UPDATE people SET name ='Tomas' WHERE name='Tom'")
# вариант с подстановками
# cursor.execute("UPDATE people SET name =? WHERE name=?", ("Tomas", "Tom"))
con.commit()

# проверяем
cursor.execute("SELECT * FROM people")
print(cursor.fetchall())    # [(1, 'Tomas', 38), (2, 'Bob', 42), (3, 'Sam', 28), (4, 'Alice', 33), (5, 'Kate', 25)]

[(1, 'Tomas', 38), (2, 'Sam', 28), (3, 'Alice', 33), (4, 'Kate', 25)]

Для выполнения обновления также надо выполнять метод con.commit()

## Удаление данных
Для удаления в SQL выполняется команда DЕLETE. Например, удалим всех пользователей с именем Bob:

In [ ]:
import sqlite3;

con = sqlite3.connect("firstDB.db")
cursor = con.cursor()

# обновляем строки, где name = Tom
cursor.execute("DELETE FROM people WHERE name=?", ("Bob",))
con.commit()

# проверяем
cursor.execute("SELECT * FROM people")
print(cursor.fetchall())    # [(1, 'Tomas', 38), (3, 'Sam', 28), (4, 'Alice', 33), (5, 'Kate', 25)]

[(1, 'Tomas', 38), (2, 'Sam', 28), (3, 'Alice', 33), (4, 'Kate', 25)]

Для выполнения удаления также надо выполнять метод con.commit()

Допустим, у нас есть две таблицы: "users" и "orders". Мы можем использовать операторы SQL для выполнения запросов, объединяющих данные из обеих таблиц. Ниже приведен пример работы с двумя таблицами:

In [ ]:
import sqlite3

# Создание подключения к базе данных
conn = sqlite3.connect('example.db')

# Создание курсора для выполнения запросов
cursor = conn.cursor()

# Создание таблицы "users"
cursor.execute('''CREATE TABLE IF NOT EXISTS users (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    email TEXT
                )''')

# Создание таблицы "orders"
cursor.execute('''CREATE TABLE IF NOT EXISTS orders (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    user_id INTEGER,
                    product TEXT,
                    FOREIGN KEY (user_id) REFERENCES users(id)
                )''')

# Вставка данных в таблицу "users"
cursor.execute("INSERT INTO users (name, email) VALUES ('Alice', 'alice@example.com')")
cursor.execute("INSERT INTO users (name, email) VALUES ('Bob', 'bob@example.com')")

# Вставка данных в таблицу "orders"
cursor.execute("INSERT INTO orders (user_id, product) VALUES (1, 'Product A')")
cursor.execute("INSERT INTO orders (user_id, product) VALUES (2, 'Product B')")

# Выполнение запроса для объединения данных из обеих таблиц
cursor.execute("SELECT users.name, orders.product FROM users INNER JOIN orders ON users.id = orders.user_id")

# Получение результатов
results = cursor.fetchall()
print(results)

# Закрытие подключения
conn.close()

[('Alice', 'Product A'), ('Bob', 'Product B')]

Пример 1: Обновление данных в одной таблице на основе данных из другой таблицы:

In [ ]:
import sqlite3

# Создание подключения к базе данных
conn = sqlite3.connect('example.db')

# Создание курсора для выполнения запросов
cursor = conn.cursor()

# Обновление данных в одной таблице на основе данных из другой таблицы
cursor.execute("UPDATE users SET email = (SELECT email FROM orders WHERE orders.user_id = users.id) WHERE id = 1")

# Сохранение изменений
conn.commit()

# Закрытие подключения
conn.close()

**Пример 2:** Удаление данных из одной таблицы на основе условия из другой таблицы:

In [ ]:
import sqlite3

# Создание подключения к базе данных
conn = sqlite3.connect('example.db')

# Создание курсора для выполнения запросов
cursor = conn.cursor()

# Удаление данных из одной таблицы на основе условия из другой таблицы
cursor.execute("DELETE FROM users WHERE id IN (SELECT user_id FROM orders WHERE product = 'Product B')")

# Сохранение изменений
conn.commit()

# Закрытие подключения
conn.close()

В базе данных SQLite вы можете тоже использовать оператор SQL GROUP BY для группировки данных по определенному столбцу или столбцам. Это позволяет вам выполнять агрегатные функции, такие как COUNT, SUM, AVG и другие, для каждой группы значений.

Вот пример использования оператора GROUP BY:

In [ ]:
import sqlite3

# Создание подключения к базе данных
conn = sqlite3.connect('example.db')

# Создание курсора для выполнения запросов
cursor = conn.cursor()

# Создание таблицы "employees"
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    department TEXT,
                    salary INTEGER
                )''')

# Вставка данных в таблицу "employees"
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Alice', 'HR', 50000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Bob', 'Sales', 60000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Charlie', 'HR', 55000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('David', 'IT', 65000)")

# Выполнение запроса и группировка данных по столбцу "department"
cursor.execute("SELECT department, COUNT(*), AVG(salary) FROM employees GROUP BY department")

# Получение результатов
results = cursor.fetchall()
for row in results:
    print(row)

# Закрытие подключения
conn.close()

('HR', 2, 52500.0)
('IT', 1, 65000.0)
('Sales', 1, 60000.0)

Для преобразования данных из базы данных SQLite в формат JSON вам потребуется использовать язык программирования, который поддерживает работу с базами данных SQLite и имеет встроенные или сторонние библиотеки для работы с JSON.

Вот пример использования Python для выполнения этой задачи:

In [ ]:
import sqlite3
import json

# Создание подключения к базе данных
conn = sqlite3.connect('example.db')

# Создание курсора для выполнения запросов
cursor = conn.cursor()

# Создание таблицы "employees"
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    department TEXT,
                    salary INTEGER
                )''')

# Вставка данных в таблицу "employees"
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Alice', 'HR', 50000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Bob', 'Sales', 60000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Charlie', 'HR', 55000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('David', 'IT', 65000)")

# Выполнение запроса для выборки данных из таблицы и преобразование в JSON
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
print(rows)
# Преобразование данных в формат JSON
result = []
for row in rows:
    result.append({
        "id": row[0],
        "name": row[1],
        "department": row[2],
        "salary": row[3]
    })

json_data = json.dumps(result, indent=4)
print(json_data)

# Закрытие подключения
conn.close()

[(1, 'Alice', 'HR', 50000), (2, 'Bob', 'Sales', 60000), (3, 'Charlie', 'HR', 55000), (4, 'David', 'IT', 65000)]
[
    {
        "id": 1,
        "name": "Alice",
        "department": "HR",
        "salary": 50000
    },
    {
        "id": 2,
        "name": "Bob",
        "department": "Sales",
        "salary": 60000
    },
    {
        "id": 3,
        "name": "Charlie",
        "department": "HR",
        "salary": 55000
    },
    {
        "id": 4,
        "name": "David",
        "department": "IT",
        "salary": 65000
    }
]

В этом примере мы выбираем данные из таблицы "employees" в базе данных SQLite, преобразуем результаты запроса в формат JSON с помощью библиотеки json, и затем выводим полученный JSON.

Для преобразования данных из формата JSON в базу данных SQLite вы можете использовать язык программирования, такой как Python. Вот пример того, как это можно сделать:

In [ ]:
import sqlite3
import json

# JSON данные
json_data = '''
[
    {
        "id": 1,
        "name": "Alice",
        "department": "HR",
        "salary": 50000
    },
    {
        "id": 2,
        "name": "Bob",
        "department": "Sales",
        "salary": 60000
    },
    {
        "id": 3,
        "name": "Charlie",
        "department": "HR",
        "salary": 55000
    }
]
'''

# Преобразование JSON данных в словарь Python
data = json.loads(json_data)

# Создание новой базы данных SQLite
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Создание таблицы для хранения JSON данных
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    department TEXT,
                    salary INTEGER
                )''')

# Вставка JSON данных в базу данных SQLite
for row in data:
    cursor.execute("INSERT INTO employees (id, name, department, salary) VALUES (?, ?, ?, ?)", (row['id'], row['name'], row['department'], row['salary']))

# Применение изменений и закрытие подключения
conn.commit()
conn.close()

Для преобразования данных из базы данных SQLite в формат XML и из формата XML в базу данных SQLite, вы можете использовать язык программирования, такой как Python, совместно с соответствующими библиотеками для работы с SQLite и XML.

Вот пример того, как можно преобразовать данные из базы данных SQLite в формат XML и наоборот, используя Python:

## Преобразование данных из SQLite в XML:

In [ ]:
import sqlite3
import xml.etree.ElementTree as ET

# Создание подключения к базе данных SQLite
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Выборка данных из таблицы и преобразование в XML
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

# Создание корневого элемента XML
root = ET.Element("employees")

# Добавление данных в XML
for row in rows:
    employee = ET.SubElement(root, "employee")
    id = ET.SubElement(employee, "id")
    id.text = str(row[0])
    name = ET.SubElement(employee, "name")
    name.text = row[1]
    department = ET.SubElement(employee, "department")
    department.text = row[2]
    salary = ET.SubElement(employee, "salary")
    salary.text = str(row[3])

# Создание объекта ElementTree и запись в файл
tree = ET.ElementTree(root)
tree.write("employees.xml")

# Закрытие подключения
conn.close()

## Преобразование данных из XML в SQLite:

In [ ]:
import sqlite3
import xml.etree.ElementTree as ET

# Чтение данных из XML файла
tree = ET.parse('employees.xml')
root = tree.getroot()

# Создание подключения к базе данных SQLite
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Создание таблицы для хранения данных
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    department TEXT,
                    salary INTEGER
                )''')

# Вставка данных из XML в базу данных SQLite
for employee in root.findall('employee'):
    id = int(employee.find('id').text)
    name = employee.find('name').text
    department = employee.find('department').text
    salary = int(employee.find('salary').text)

    # Проверка наличия записи с таким же id перед вставкой
    cursor.execute("SELECT * FROM employees WHERE id=?", (id,))
    existing_record = cursor.fetchone()

    if existing_record is None:
        cursor.execute("INSERT INTO employees (id, name, department, salary) VALUES (?, ?, ?, ?)", (id, name, department, salary))

# Применение изменений и закрытие подключения
conn.commit()
conn.close()